$main        :  #34314c;
$secondary   :  #9592ad;
$border      :  #d9dee9;
$white       :  #ffffff;


$grey_backgroud:#f2f2f8;
$grey_copy:#b9b7c6;
$dark_grey:#3f3d4e;
$light_blue:#19D2D9;
// $highlight:#7ac483;
// 
$highlight:#ff0000;
$highlight_1 :  #fd7473; // Red color
$highlight_2 :  #fec951; // Yellow Color
$highlight_3 :  #47b8e0; // Blue Color
$highlight_4 :  #9f68d0; // Purple Color

*
{
	box-sizing:border-box;
}
html,body
{
	font-family:"Ubuntu";
}